<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/style.css" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/material-design-iconic-font@2.2.0/dist/css/material-design-iconic-font.min.css"
    />
  </head>
  <body>

    <%- include('./header.ejs') %>

    <div class="main">
      <section class="url-shortener">
        <div class="container">
          <div class="shortener-content">
            <!-- ! user status box -->
            <div class="user-status">
              <% if(user){ %>
              <div class="status-badge success">
                <i class="zmdi zmdi-check-circle"></i>
                <span>You are logged in</span>
              </div>
              <% }else{ %>
              <div class="status-badge warning">
                <i class="zmdi zmdi-alert-circle"></i>
                <span>You are not logged in</span>
              </div>

              <% } %>
            </div>

            <!-- ! Url form  -->
            <div class="shortener-form">
              <h1 class="form-title">URL Shortener</h1>
              <form
                action="/edit/<%=id %>"
                method="post"
                class="url-form"
                id="url-form"
              >
                <div class="form-group">
                  <!-- <label for="url">Enter URL:</label> -->
                  <label for="url">
                    <i class="zmdi zmdi-link"></i>
                  </label>
                  <input
                    type="url"
                    id="url"
                    name="url"
                    required
                    placeholder="Enter url"
                    value="<%= url %>"
                  />
                </div>
                <div class="form-group">
                  <!-- <label for="shortCode">Custom Short URL (Optional):</label> -->
                  <label for="shortCode">
                    <i class="zmdi zmdi-code"></i>
                  </label>
                  <input
                    type="text"
                    id="shortCode"
                    name="shortCode"
                    value="<%= shortCode  %>"
                    placeholder="Enter custom short code"
                  />
                </div>

                <% if(errors){ %> <% errors.forEach((error)=>{ %>
                <p class="flash-error"><%= error %></p>
                <% }) %> <% } %>

                <div class="form-group form-button">
                  <input
                    type="submit"
                    name="shorten"
                    id="shorten"
                    class="form-submit"
                    value="Update"
                  />
                </div>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>


        <%- include('./footer.ejs') %>

  </body>
</html>
