<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>URL Shortner</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>

    <%- include('./partials/header.ejs')%>

    <% if(isLoggedIn){ %>
      <h2>You are logged In</h2>
    <% }else{ %>
      <h2>You are not logged In</h2>
    <% } %>

    <div class="main">
      <section class="url-shortener">

        <div class="container">
          <div class="shortener-content">
            <div class="shortener-form">

              <h1 class="form-title">URL Shortener</h1>
              <form action="/shorten" method="post" class='url-form' id="url-form">
                <div class="form-group">
                  <!-- <label for="url">Enter URL:</label> -->
                  <label for="url">
                    <i class="zmdi zmdi-link"></i>
                  </label>
                  <input
                    type="url"
                    id="url"
                    name="url"
                    required
                    placeholder="enter url"
                  />
                </div>
                <div class="form-group">
                  <!-- <label for="shortCode">Custom Short URL (Optional):</label> -->
                  <label for="shortCode">
                    <i class="zmdi zmdi-link"></i>
                  </label>
                  <input
                    type="text"
                    id="shortCode"
                    name="shortCode"
                    placeholder="enter shortCode"
                  />
                </div>
                <div class="form-group form-button">
                  <input type="submit" name="shorten" id="shorten" class="form-submit" value="Shorten">
                </div>
              </form>
        
            </div>
          </div>
    
          <div class="shortened-urls">

            <h2>Shortened URLs</h2>
            <ul class="url-list">
              <% links.map(({shortCode,url}) =>{ %> <% const trucatedUrl =
              url.length>= 25 ? `${url.slice(0,25)}...` : url %>
              <li class="url-item">
                <a href="/<%= shortCode %>" target="_blank"
                  ><%= host %>/<%= shortCode %></a
                >
                 <%= trucatedUrl %>
              </li>
      
              <% }); %>
            </ul>
          </div>
        </div>
      </section>
    </div>

    <%- include('./partials/footer.ejs') %>
  </body>
</html>
